---
import TabNav from './TabNav.astro';
import Warning from './Warning.astro';
import CalcPanel from './CalcPanel.astro';
import { CALCULATOR_PANELS } from '../consts';
---

<div class="space-y-2 sm:space-y-6">
  <Warning />
  <TabNav />
  
  <div class="tab-content">
    {CALCULATOR_PANELS.map(panel => (
      <CalcPanel {...panel} />
    ))}
  </div>
</div>

<script>
  import { initializeCalculator } from '../utils/calculator.js';
  import { initializeTabs } from '../utils/tabs.js';
  
  document.addEventListener('DOMContentLoaded', () => {
    initializeTabs();
    initializeCalculator();
  });
</script>