---
import BlueskyLogo from './icons/BlueskyLogo.astro';
import GithubLogo from './icons/GitHubLogo.astro';
---

<footer class="mt-8 py-6 border-t bg-bg-transparent dark:bg-transparent border-gray-400 dark:border-gray-700">
  <div class="max-w-2xl mx-auto px-2">
    <div class="flex flex-row justify-between items-center">
      <div class="flex items-center">
        <p class="text-sm text-gray-900 dark:text-gray-300">
          Made with <span class="text-red-700 dark:text-red-500">♥</span> by 
          <a 
            href="https://jpsholk.com" 
            class="underline text-gray-900 hover:text-indigo-700 dark:text-gray-300 dark:hover:text-indigo-400"
            target="_blank" 
            rel="noopener me"
          >jpasholk</a>
        </p>
      </div>
      <div class="flex space-x-4">
        <a 
          href="https://bsky.app/profile/jpshlk.com" 
          class="text-gray-900 dark:text-gray-300 hover:text-indigo-700 dark:hover:text-indigo-400"
          target="_blank"
          rel="noopener me"
          aria-label="Bluesky Profile"
        >
          <BlueskyLogo />
        </a>
        <a 
          href="https://github.com/jpasholk/cococalcs" 
          class="text-gray-900 dark:text-gray-300 hover:text-indigo-700 dark:hover:text-indigo-400"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub Repository"
        >
          <GithubLogo />
        </a>
      </div>
    </div>
  </div>
</footer>