---
import Header from './Header.astro';
import Footer from './Footer.astro';
import Calculator from './Calculator.astro';
---

<div class="max-w-2xl mx-auto p-6 dark:bg-gray-900">
  <Header title="Garden Bed Soil Calculator" />
  <Calculator />
  <Footer />
</div>