---
import GardenBedIcon from './icons/GardenBedIcon.astro';
import SmallPotIcon from './icons/SmallPotIcon.astro';
import SeedStartingIcon from './icons/SeedStartingIcon.astro';
---

<div class="flex space-x-1 rounded-xl bg-gray-200 p-1 dark:bg-gray-700">
  <button
    role="tab"
    aria-selected="true"
    data-tab="#garden-beds"
    class="flex-1 flex flex-col sm:flex-row items-center justify-center space-y-1 sm:space-y-0 sm:space-x-2 px-3 py-1.5 rounded-md bg-blue-500 text-white hover:bg-blue-600"
  >
    <GardenBedIcon />
    <span class="text-xs sm:text-sm">Garden Beds</span>
  </button>
  <button
    type="button"
    class="flex-1 flex flex-col sm:flex-row items-center justify-center space-y-1 sm:space-y-0 sm:space-x-2 px-3 py-1.5 rounded-md text-gray-600 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700"
    id="tab-small-pots"
    data-tab="#small-pots"
    aria-controls="small-pots"
    role="tab"
    aria-selected="false"
  >
    <SmallPotIcon />
    <span class="text-xs sm:text-sm">Small Pots</span>
  </button>
  <button
    type="button"
    class="flex-1 flex flex-col sm:flex-row items-center justify-center space-y-1 sm:space-y-0 sm:space-x-2 px-3 py-1.5 rounded-md text-gray-600 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700"
    id="tab-seed-starting"
    data-tab="#seed-starting"
    aria-controls="seed-starting"
    role="tab"
    aria-selected="false"
  >
    <SeedStartingIcon />
    <span class="text-xs sm:text-sm">Seed Starting</span>
  </button>
</div>