---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
    frontmatter: {
        title: string;
        description?: string;
        image?: {
            src: string;
            alt: string;
        };
    }
}

const { frontmatter } = Astro.props;
const ogImage = frontmatter.image?.src.replace('..', '');
---

<!doctype html>
<html lang="en">
    <Head 
        title={frontmatter.title} 
        description={frontmatter.description || SITE_DESCRIPTION}
        image={ogImage} 
    />
    <body class="min-h-screen bg-white-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
        <div class="max-w-2xl mx-auto p-3 sm:p-6">
            <Header title={frontmatter.title} />
            <main class="flex-1">
                <div class="max-w-2xl mx-auto">
                    <article class="prose prose-lg dark:prose-invert max-w-none mb-8">
                        <slot />
                    </article>
                </div>
            </main>
            <Footer />
        </div>
    </body>
</html>