---
import Head from '../components/Head.astro';
import "../styles/global.css";
---

<!doctype html>
<html class="dark:bg-gray-900" lang="en">
    <Head />
    <body class="min-h-screen bg-gray-300 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
        <slot />
    </body>
</html>
