---
import Head from '../components/Head.astro';
import "../styles/global.css";
---

<!doctype html>
<html class="dark:bg-gray-900" lang="en">
    <Head />
    <body>
        <slot />
    </body>
</html>
